<div class='form-wrapper span4 offset4'>
  <%= content_tag :h2, "Deploy a new instance of #{@application}" %>

  <%= render 'deployed_applications/form', url: application_deployed_applications_path(@application),  deployed_application: @deployed_application %>
</div>

<%= render 'shared/location_modal' %>

<div class='modal fade span5', id='add_brigade_container'>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h2>Add Brigade</h2>
    <%= simple_form_for @brigade, remote: true do |brigade_form| %>
      <%= brigade_form.input :name %>
      <%= brigade_form.input :point_of_contact_address, label: "Point of Contact Address (Preferably a Google Group)" %>
      <%= brigade_form.button :submit %>
    <% end %>
  </div>
</div>
