<header class="page-id" id="brigades">
  <h1>
    <% if @brigades.any? %><%= @brigades.count.to_s() %><%end%> Brigades and growing
  </h1>

</header>

<% if @brigades.empty? %>
  <h3> There aren't any brigades that match that criteria! </h3>
<% else %>
  <p>
  Brigades are groups of passionate local citizens committed to making a difference: they are standing up apps, gathering civic data, and hosting events, ranging from hackathons to unconferences. See if one of the brigades below is in your community; if not, start one by challenging your city to <a href="/applications">deploy an app.</a>
  </p>
  <div id="map" class="brigades">
  </div>
  <table class="all-cities" cellpadding="4" id="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @brigades.each do |brigade| %>
        <tr id="<%="brigade_#{brigade.id}"%>" class="<%= cycle "odd", "even" %>">
          <td><%= brigade.name %></td>
          <td><%= link_to 'Show', brigade%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
