<header class="page-id" id="brigade" data-id="<%= @brigade.id %>">
  <h1><%= @brigade.name %></h1>
</header>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">

      <table class="all-cities" cellpadding="4" id="sortable">
        <thead>
          <tr>
            <th>App Name</th>
            <th width="17%">Status</th>
            <th>Location</th>
            <th>Action</th>
          </tr>
        </thead>

        <%= render @brigade.deployed_applications, brigade_name: false %>
      </table>
      
      <div id="map">
      </div>
      </div>

    <div id="sidebar" class="span4">
      <div class="app-info">
        <h3>Info</h3>
        <h4><span class='icon'>Y</span> Get involved</h4>
        <p class='center'>
          <%= link_to 'Join the brigade to get involved!', join_brigade_url(@brigade), class: 'btn primary' if !can? :leave, @brigade%>
          <%= raw("You are a member of this brigade! #{link_to 'Leave this brigade', leave_brigade_url(@brigade), class: 'btn'}") if can? :leave, @brigade %>
        </p>

        <% if @brigade.point_of_contact_address.present? %>
          <h4><span class="icon">O</span> Connect</h4>
          <p><%= auto_link @brigade.point_of_contact_address %></p>
        <% end %>

        <h4><span class='icon'>f</span> Members</h4>
        <%= @brigade.decorated_members %>
      </div>
    </div>
  </div>
</div>

