<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">
      <hgroup class="app-title">
        <h2><%= @brigade.name %><h2>
        <h5></h5>
        <div class="clear"></div>
      </hgroup>

      <h6>Deployed Applications</h6>
      <table class='table-striped full'>
        <%= render @brigade.deployed_applications %>
      </table>
    </div>

    <div id="sidebar" class="span4">
      <div class="app-info">
        <h3>Info</h3>
        <h4><span class='icon'>Y</span> Get invlolved</h4>
        <p class='center'>
          <%= link_to 'Join the brigade to get involved!', join_brigade_url(@brigade), class: 'btn primary' if !can? :leave, @brigade%>
          <%= raw("You are a member of this brigade! #{link_to 'Leave this brigade', leave_brigade_url(@brigade), class: 'btn'}") if can? :leave, @brigade %>
        </p>

        <h4><span class='icon'>f</span> Members</h4>
        <%= @brigade.decorated_members %>
      </div>
    </div>
  </div>
</div>

