<header class="page-id" id="brigade" data-id="<%= @brigade.id %>">
  <h1><%= @brigade.name %></h1>
<!--  <div class="signup"> <div class="btn btn-primary">Join the <%= @brigade.name %></div></div>-->
</header>
<% unless user_signed_in? %>
  <%= render 'registrations/form' %>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">

      <table class="all-cities" cellpadding="4">
        <thead>
          <tr>
            <th>App Name</th>
            <th>Status</th>
          </tr>
        </thead>

        <%= render @brigade.deployed_applications, brigade_name: false %>
      </table>
      
      </div>

    <div id="sidebar" class="span4">
      <div class="app-info">

        <h4><span class="icon">,</span> Location</h4>
        <div id="map" class="brigade" data-target='<%= @brigade.id %>'></div>

        <% if @brigade.point_of_contact_address.present? %>
          <h4><span class="icon">O</span> local brigade info</h4>
          <p><%= auto_link @brigade.point_of_contact_address %></p>
          <p><%= auto_link @brigade.group_url %></p>
          <p><%= auto_link @brigade.meetup_url %></p>
        <% end %>

        <h4><span class='icon'>f</span> Members</h4>
        <%= @brigade.decorated_members %>
      </div>
    </div>
  </div>
</div>

