<tr class="<%= cycle "odd", "even" %>", id="<%= "application_#{application.id}" %>">
  <td class="avatar">
    *
  </td>
  <td>
    <h3><%= link_to application.name, application_path(application) %></h3>
    <p><%= application.short_description %></p>
  </td>
  <td>
    <%= render 'applications/small-stats', application: AppDecorator.new(application) %>
  </td>
  <td class="show-app">
    <%= link_to 'Show App', application_path(application), title: application.name, :class => "show-button" %></td>
</tr>
