<h2>Applications</h2>
  <table class="all-apps" cellpadding="4">
    <% @apps.each do |application| %>
      <tr class="<%= cycle "odd", "even" %>", id="<%= "application_#{application.id}" %>">
        <td>
          <img src="/assets/avatars/avatar-3.png">
        </td>
        <td>
          <h3><%= application.name %></h3>
          <p><%= application.short_description %></p>
        </td>
        <td>

          <!-- inset stats table -->
          <table class="small-stats">
            <tr>
              <td class="inlinesparkline"></td>
              <td class="deploy-count">76</td>
            </tr>
            <tr class="labels">
              <td>Commits/30 Days</td>
              <td>Deploys</td>
            </tr>
          </table>
          <!-- end stats tables -->

        <td class="show-app">
          <%= link_to 'Show App', application_path(application), title: application.name, :class => "show-button" %></td>
      </tr>
    <% end %>
  </table>
