<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div class="span8">
      <h2>Work on <%= @app.name %> in Fake City!</h2>

      <div class="application-page-main-column-boxes">
        <div class="app-info">
          <h3>Get In Touch</h3>
          <div><%= link_to "Github", @app.repository_url %></div>
          <div>IRC Channel: <%= @app.irc_channel %></div>
          <div>Twitter Hashtag: <%= @app.twitter_hashtag %></div>
          <div>Creator: <%= @app.creator %></div>
          <div>License: <%= @app.license %></div>
        </div>

        <p><%= @app.default_description %></p>
        <div><%= raw @app.video_embed_code %></div>
        <%= @app.picture_gallary %>

        <div>
          <h3>Brigades that have deployed this app:</h3>
          <%= @app.participating_brigade_links %>
        </div>
      </div>
      <div class="application-page-main-column-boxes">
        <h3><%= link_to "Deploy #{@app.name}", new_application_deployed_application_path(@app) %></h3>
        <% @app.tasks.each do |task| %>
          <div class="row">
            <%= task.description %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- sidebar -->
    <div class="span4">
      <h3><%= @app.name %> is used in these cities</h3>
        <ul>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
        </ul>

      <h3>Working on <%= @app.name %></h3>
        <ul>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
        </ul>

      <h3>Project Contacts</h3>
        <ul>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
          <li><%= link_to "Fake Link", "#" %></li>
        </ul>
    </div>

  </div>
</div>
