<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">
      <hgroup class="app-title">
        <h2>
          Work on <%= @app.name %>
        </h2>
        <h5>
          <%= link_to new_application_deployed_application_path(@app), :class => "btn" do %>
            <span class="icon">(</span> Deploy This App
        <% end %>
        </h5>
        <div class="clear"></div>
      </hgroup>


        <h6>About <%= @app.name %></h6>
        <p><%= @app.default_description %></p>

        <h6><%= @app.name %> Media</h6>

        <div class="vid-embed-block">
          <%= raw @app.video_embed_code %>
        </div>

        <div class="gallery-block">
          <%= @app.picture_gallary %>
        </div>

        <h6><%= @app.name %> Deployment Checklist</h6>
        <div class="task-list">
          <p>
            The following items will need to be accomplished by teams
            as part of deployment. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <ul class="check-boxes unstyled">
            <li>
              Spin up all the dynos
              <span class="check-this green">%</span>
            </li>
            <li>
              Process all the unicorn tears
              <span class="check-this green">%</span>
            </li>
            <li>
              Including a potentially very long and ungainly step
              <span class="check-this green">%</span>
            </li>
            <li>
              Drive our enemies before us, hear the lamentations of their women
              <span class="check-this green">%</span>
            </li>
            <li>
              Eat all the delicious things ever
              <span class="check-this green">%</span>
            </li>
          <!--
          <% @app.tasks.each do |task| %>
            <li><%= task.description %></li>
          <% end %>
          -->
          </ul>
        </div>

    </div>

    <!-- sidebar -->
    <div id="sidebar" class="span4">
      <div class="app-info">

        <table class="small-stats">
          <tr>
            <td class="inlinesparkline"></td>
            <td class="deploy-count">76</td>
          </tr>
          <tr class="labels">
            <td>Commits/30 Days</td>
            <td>Deploys</td>
          </tr>
        </table>

        <h3>Get Info</h3>
        <h4><span class="icon">O</span> Technical</h4>

        <ul class="unstyled">
          <li><%= link_to "Github", @app.repository_url %></li>
          <li>IRC Channel: <%= @app.irc_channel %></li>
          <li>Twitter Hashtag: <%= @app.twitter_hashtag %></li>
          <li>Creator: <%= @app.creator %></li>
          <li>License: <%= @app.license %></li>
        </ul>

        <h4><span class="icon">f</span> People <span id="user-name"></span></h4>

        <ul id="user-grid">
          <li data-name="Wil Shipley">
            <a href="#" alt="User's Name">
              <img src="/assets/avatars/avatar-1.png">
            </a>
          </li>
          <li data-name="Anil Dash">
            <a href="#">
              <img src="/assets/avatars/avatar-2.png">
            </a>
          </li>
          <li data-name="Tweetbot">
            <a href="#">
              <img src="/assets/avatars/avatar-3.png">
            </a>
          </li>
          <li data-name="Jason Snell">
            <a href="#">
              <img src="/assets/avatars/avatar-4.png">
            </a>
          </li>
          <li data-name="Jason Kottke">
            <a href="#">
              <img src="/assets/avatars/avatar-5.png">
            </a>
          </li>
          <li data-name="Paul Irish">
            <a href="#">
              <img src="/assets/avatars/avatar-6.png">
            </a>
          </li>
          <li data-name="Amy Hoy">
            <a href="#">
              <img src="/assets/avatars/avatar-7.png">
            </a>
          </li>
          <li data-name="Cameron Moll">
            <a href="#">
              <img src="/assets/avatars/avatar-8.png">
            </a>
          </li>
          <li data-name="Todd Dominey">
            <a href="#">
              <img src="/assets/avatars/avatar-9.png">
            </a>
          </li>
          <li data-name="Grant Hutchinson">
            <a href="#">
              <img src="/assets/avatars/avatar-10.png">
            </a>
          </li>
          <li data-name="Dan Cederholm">
            <a href="#">
              <img src="/assets/avatars/avatar-11.png">
            </a>
          </li>
          <li data-name="Merlin Mann">
            <a href="#">
              <img src="/assets/avatars/avatar-12.png">
            </a>
          </li>
          <li data-name="Shaun Inman">
            <a href="#">
              <img src="/assets/avatars/avatar-13.png">
            </a>
          </li>
          <li data-name="Jon Snook">
            <a href="#">
              <img src="/assets/avatars/avatar-14.png">
            </a>
          </li>
          <li data-name="Nvn Mrgan">
            <a href="#">
              <img src="/assets/avatars/avatar-15.png">
            </a>
          </li>
          <li data-name="Mike Davidson">
            <a href="#">
              <img src="/assets/avatars/avatar-16.png">
            </a>
          </li>
          <li data-name="Typekit">
            <a href="#">
              <img src="/assets/avatars/avatar-17.png">
            </a>
          </li>
          <li data-name="Sarah Hatter">
            <a href="#">
              <img src="/assets/avatars/avatar-18.png">
            </a>
          </li>
          <li data-name="Uncle Ken">
            <a href="#">
              <img src="/assets/avatars/avatar-19.png">
            </a>
          </li>
          <li data-name="Brennan Dunn">
            <a href="#">
              <img src="/assets/avatars/avatar-20.png">
            </a>
          </li>
        </ul>

        <!-- user grid as mostly text
        <ul class="unstyled" id="users">
          <li>
            <%= image_tag('/assets/small-avatar.png') %>
            <%= link_to "Codey McGee", "#" %>
            <h4>Chicago</h4>
          </li>
          <li>
            <%= image_tag('/assets/small-avatar.png') %>
            <%= link_to "Worky McWorkface", "#" %>
            <h4>Norfolk</h4>
          </li>
          <li>
            <%= image_tag('/assets/small-avatar.png') %>
            <%= link_to "Engineery O'Keyboard", "#" %>
            <h4>Charlotte</h4>
          </li>
          <li>
            <%= image_tag('/assets/small-avatar.png') %>
            <%= link_to "Bob Paperclip", "#" %>
            <h4>San Francisco</h4>
          </li>
        </ul>
        -->

        <h4><span class="icon">,</span> <%= @app.name %> is deployed in</h4>

        <!-- minimap -->
        <iframe width="265" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;t=p&amp;ll=37.996163,-98.085937&amp;spn=31.692265,46.40625&amp;z=3&amp;output=embed"></iframe>

        <h4><span class="icon">[</span> Deployed Brigades</h4>
          <ul class="unstyled">
            <%= @app.participating_brigade_links %>
          </ul>
      </div>
    </div>

  </div>
</div>
