<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">
      <hgroup class="app-title">
        <h2>
          Work on <%= @app.name %>
        </h2>
        <h5>
          <% if can? :create, DeployedApplication %>
            <%= link_to new_application_deployed_application_path(@app), :class => "btn adjusted" do %>
              <span class="icon">(</span> Start a Deployment
            <% end %>
          <% elsif current_user == nil %>
            <%= link_to new_application_deployed_application_path(@app), :class => "btn" do %>
              <span class="icon">(</span> Sign In or Sign Up to Start a Deployment
            <% end %>

          <% end %>
        </h5>
        <div class="clear"></div>
      </hgroup>

      <%= render 'shared/application_body' %>
      </div>

    <!-- sidebar -->
    <div id="sidebar" class="span4">
      <div class="app-info">
        <%= render 'applications/small-stats', application: @app %>

        <h3>Get Info</h3>
        <h4><span class="icon">O</span> Technical</h4>

        <ul class="unstyled">
          <li><span class='icon'>5</span>&nbsp;Github URL: <%= @app.repository_url_link %></li>
          <li><span class='icon'>w</span>&nbsp;IRC Channel: <%= @app.irc_channel %></li>
          <li><span class='icon'>U</span>&nbsp;Twitter Hashtag: <%= @app.twitter_hashtag %></li>
          <li><span class='icon'>1</span>&nbsp;Mailing List: <%= @app.mailing_list_url_link %></li>
          <li><span class='icon'>f</span>&nbsp;Creator: <%= @app.creator %></li>
          <li><span class='icon'>K</span>&nbsp;License: <%= @app.license %></li>
        </ul>

        <h4><span class="icon">g</span> People <span id="user-name"></span></h4>

        <%= @app.decorated_deployed_application_users %>

        <h4><span class="icon">,</span> <%= @app.name %> is deployed in</h4>

        <!-- minimap -->
        <div class='map', id='map' style="width: 265px; height: 230px;"></div>
        <div class='hidden' id='locations'><%= @app.deployed_applications.map(&:location).uniq.map {|l| {icon_link: location_deployed_applications_url(l)}.merge(l.attributes.select{|k,v| ['latitude', 'longitude', 'name'].include?(k)}).to_json } %></div>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAU73pt7g1lj1KfSffmFgWfKHcbn_xJQyE&sensor=true"></script>
<script tpye='text/javascript'>
  var map;
  var markers = [];
  var latlons = [];

  function initialize_map() {
    var myOptions = {
      center: new google.maps.LatLng(39.5, -98.35),
      zoom: 3,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      streetViewControl: false
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
  }


  initialize_map();

  var locations = $.parseJSON($('#locations').text())
  $.each(locations, function(index, value){
    value = $.parseJSON(value)
    if(value.latitude == value.longitude && value.longitude == 0){
      return;
    }
    latlons[index] = new google.maps.LatLng(value.latitude, value.longitude);
    markers[index] = new google.maps.Marker({ position: latlons[index], title: value.name, url: value.icon_link });
    google.maps.event.addListener(markers[index], 'click', function() {
        window.location.href = markers[index].url;
    });
    markers[index].setMap(map)
  })

  var latlngbounds = new google.maps.LatLngBounds( );
  for ( var i = 0; i < latlons.length; i++ )
  {
      latlngbounds.extend( latlons[ i ] );
  }
  map.fitBounds( latlngbounds );
</script>
