<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">
      <hgroup class="app-title">
        <h2>
          Work on <%= @app.name %>
        </h2>
        <h5>
          <% if can? :create, DeployedApplication %>
            <%= link_to new_application_deployed_application_path(@app), :class => "btn adjusted" do %>
              <span class="icon">(</span> Deploy This App
            <% end %>
          <% end %>
        </h5>
        <div class="clear"></div>
      </hgroup>


        <h6>About <%= @app.name %></h6>
        <p><%= @app.default_description %></p>

        <h6><%= @app.name %> Media</h6>

        <div class="vid-embed-block">
          <%= raw @app.video_embed_code %>
        </div>

        <div class="gallery-block">
          <%= @app.picture_gallary %>
        </div>

        <h6><%= @app.name %> Deployment Checklist</h6>
        <div class="task-list">
          <p>
          The following items will need to be accomplished by teams
          as part of deployment.
          </p>
          <%= @app.task_list %>
        </div>

    </div>

    <!-- sidebar -->
    <div id="sidebar" class="span4">
      <div class="app-info">
        <%= render 'applications/small-stats', application: @app %>

        <h3>Get Info</h3>
        <h4><span class="icon">O</span> Technical</h4>

        <ul class="unstyled">
          <li><%= link_to "Github", @app.repository_url %></li>
          <li>IRC Channel: <%= @app.irc_channel %></li>
          <li>Twitter Hashtag: <%= @app.twitter_hashtag %></li>
          <li>Creator: <%= @app.creator %></li>
          <li>License: <%= @app.license %></li>
        </ul>

        <h4><span class="icon">f</span> People <span id="user-name"></span></h4>

        <%= @app.decorated_deployed_application_users %>

        <h4><span class="icon">,</span> <%= @app.name %> is deployed in</h4>

        <!-- minimap -->
        <div class='map', id='map' style="width: 265px; height: 230px;"></div>
        <div class='hidden' id='locations'><%= @app.deployed_applications.map(&:location).uniq.map {|l| {icon_link: location_deployed_applications_url(l)}.merge(l.attributes.select{|k,v| ['latitude', 'longitude', 'name'].include?(k)}).to_json } %></div>

        <h4><span class="icon">[</span> Deployed Brigades</h4>
          <ul class="unstyled">
            <%= @app.participating_brigade_links %>
          </ul>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAU73pt7g1lj1KfSffmFgWfKHcbn_xJQyE&sensor=true"></script>
<script tpye='text/javascript'>
  var map;
  var markers = [];
  var latlons = [];

  function initialize_map() {
    var myOptions = {
      center: new google.maps.LatLng(39.5, -98.35),
      zoom: 3,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
  }


  initialize_map();

  var locations = $.parseJSON($('#locations').text())
  $.each(locations, function(index, value){
    value = $.parseJSON(value)
    latlons[index] = new google.maps.LatLng(value.latitude, value.longitude);
    markers[index] = new google.maps.Marker({ position: latlons[index], title: value.name, url: value.icon_link });
    google.maps.event.addListener(markers[index], 'click', function() {
        window.location.href = markers[index].url;
    });
    markers[index].setMap(map)
  })

  var latlngbounds = new google.maps.LatLngBounds( ); 
  for ( var i = 0; i < latlons.length; i++ )
  {
      latlngbounds.extend( latlons[ i ] );
  }
  map.fitBounds( latlngbounds );
</script>
