<div id="leftcolumn" class='span7'>
  <h2>User Info</h2>

  <div id="user_info" class='row'>
  <%= simple_form_for @user, html: { class: 'form-vertical' } do |f| %>

    <div class='span2'>
      <%= @user.gravatar_medium %>
      <a id="gravatar_link" class="capitalized-link" href="http://www.gravatar.com/" target="_blank" title="your gravatar is associated with your email address">change picture</a>
      <div id="gravatar_info"></div>
    </div>

    <div class='span5'>
      <%= f.input :first_name, label: 'First name' %>
      <%= f.input :last_name, label: 'Last name' %>
      <%= f.input :skill_list, label: 'Skill Set (comma separated)' %>
      <%= f.input :linkedin_url, label: 'LinkedIn URL' %>
      <%= render partial: 'shared/location_select', locals: { f: f } %>

      <h2>Contact Settings</h2>
      <%= f.input :opt_in, label: "I want other civic hackers to be able to contact me for assistance", wrapper: :checkbox, label_html: { class: :checkbox } %>
      <%= f.input :email, label: "email address" %>
      <br>
      <h2>Change your password</h2>
      <%= f.input :password, label: 'Password' %>
      <%= f.input :password_confirmation, label: 'Confirm password' %>
      <i>Optional, you can leave these fields blank</i>
      <br>
      <hr>

      <%= f.input :current_password, label: 'Enter your current password to make these changes' unless @user.github_uid.present? %>
      <%= f.button :submit %>
    </div>
  <% end %>
  </div>
</div>

<%= render 'shared/location_modal' %>
