<div class='form-wrapper span5 offset3'>
  <%= simple_form_for @user, html: { class: 'form-vertical' } do |f| %>
    <%= f.input :avatar %>
    <%= f.input :skill_list, label: 'Skill Set (comma separated)' %>
    <%= render partial: 'shared/location_select', locals: { f: f } %>
    <%= f.input :opt_out, label: 'It is not ok for other civic hackers to contact me for assistance', wrapper: :checkbox, label_html: { class: :checkbox } %>
    <%= f.button :submit %>
  <% end %>
</div>

<%= render 'shared/location_modal' %>
