<header class="page-id">
  <h1>
    People
  </h1>

  <div class="internal-search-box">
    <%= form_tag users_path, method: :get, class: 'span4', style: 'margin-top: 7px;' do %>
      <%= text_field_tag :query, session[:query], placeholder: 'Search', class: 'span3' %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>
</header>

<% if @users.empty? %>
  <h3> There aren't any hackers that match that criteria! </h3>
<% else %>

  <table class="all-cities" cellpadding="4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr class="<%= index % 2 == 0 ? 'even' : 'odd' %>">
          <td><strong><%= user.full_name %></strong></td>
          <td>
            <% if user.location_name.blank? %>
              None listed.
            <% else %>
            <%= link_to user.location_name, location_deployed_applications_url(user.location) if user.location.present?%>
            <% end -%>
          </td>
          <td><%= link_to 'Show', user%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
