<header id="top-deck">
  <div class="content">
    <a href="/" class="logo"></a>
    <nav class="primary">
      <ul id="site-sections">
        <li data-desc="Welcome to Code for America Brigade" class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to 'Home', root_path %>
        </li>
        <li data-desc="Brigade Activities you can do now" class="<%= 'active' if current_page?(page_path('activities')) %>">
          <%= link_to 'Activities', page_path('activities') %>
        </li>
        <li data-desc="Connect with others through forums and our concierge service" class="<%= 'active' if current_page?(page_path('connect')) %>">
          <%= link_to 'Connections', page_path('connect') %>
        </li>
        <li data-desc="Find Civic Hacking Events" class="<%= 'active' if current_page?(page_path('events')) %>">
          <%= link_to 'Events', page_path('events') %>
        </li>
				<li data-desc="Get tools for organizing" class="<%= 'active' if current_page?(page_path('tools')) %>">
          <%= link_to 'Tools', page_path('tools') %>
        </li>
        <li data-desc="Learn about the Brigade" class="<%= 'active' if current_page?(page_path('about')) %>">
          <%= link_to 'About', page_path('about') %>
        </li>
      </ul>
      <span class="talker"></span>
    </nav>
  </div>
</header>
