<script src="http://platform.tumblr.com/v1/share.js"></script>
<header id="top-deck">
  <div class="content">
    <a href="/" class="logo"></a>
    <nav class="primary">
      <ul id="site-sections">
        <li data-desc="What we do" class="<%= 'active' if current_page?(page_path('activities')) %>">
          <%= link_to 'Activities', page_path('activities') %>
        </li>
        <li data-desc="Where and how to find us" class="<%= 'active' if current_page?(page_path('connect')) %>">
          <%= link_to 'Connections', page_path('connect') %>
        </li>
        <li data-desc="Calendar and Meetups" class="<%= 'active' if current_page?(page_path('events')) %>">
          <%= link_to 'Events', page_path('events') %>
        </li>
        <li data-desc="Get tools for organizing" class="<%= 'active' if current_page?(page_path('tools')) %>">
          <%= link_to 'Tools', page_path('tools') %>
        </li>
        <li data-desc="Learn about the Brigade" class="<%= 'active' if current_page?(page_path('about')) %>">
          <%= link_to 'About', page_path('about') %>
        </li>
        <li data-desc="Share on our Tumblr">
          <a href="http://codeforamerica.tumblr.com" title="visit our Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:20px; height:20px; background:url('http://platform.tumblr.com/v1/share_4T.png') top left no-repeat transparent;">Share on Tumblr</a>
        </li>
      </ul>
      <span class="talker"></span>
    </nav>
  </div>
  <div class="ribbon">
    <a href="https://github.com/codeforamerica/brigade/issues" rel="me">Hack this site!</a>
  </div>
</header>
<div class="clear"></div>
