<tr class="<%= cycle "odd", "even" %>", id="<%= "deployed_application_#{deployed_application.id}" %>">
  <td><%= deployed_application.name %></td>
  <td>
    <% if deployed_application.deployed %>
      <% unless deployed_application.deployed_url.nil? %>
        <%= link_to 'Deployed', deployed_application.deployed_url %>
      <% end %>
    <% else %>
      In Progress
    <% end %>
  </td>
  <td><%= link_to deployed_application.location_name, location_deployed_applications_url(deployed_application.location) if Location.find_by_id(deployed_application.location_id).is_a?(Location) %></td>
  <% if brigade_name %>
    <td><%= link_to deployed_application.brigade_name, brigade_url(deployed_application.brigade) %></td>
  <% end %>
  <td><%= link_to 'Show App', deployed_application_url(deployed_application), :class => "show-button" %></td>
</tr>
