<header class="page-id">
  <h1>
    Deployed Applications
  </h1>
</header>

<div class="internal-search-box">
  <%= form_tag find_locations_path do %>
    <%= text_field_tag :location, nil, placeholder: "Search by Location" %>
    <%= submit_tag 'Search' %>
  <%end%>
</div>

<% if @deployed_applications.present? %>
  <table class="all-cities" cellpadding="4" id="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Location</th>
        <th>Brigade Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <%= render @deployed_applications, brigade_name: true %>
  </table>
<%else%>
  <%= content_tag :h2, "There are no apps currently deployed" %>
<% end %>
