<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">
      <hgroup class="app-title">
        <h2 style='width: 100%'><%= @deployed_application.name %> &rarr; forked from <%= link_to @deployed_application.application.name, application_url(@deployed_application.application) %></h2>
        <div class='clear'></div>
        <h4>
          deployed by <%= link_to @deployed_application.brigade.name, brigade_url(@deployed_application.brigade) %>
          in <%= link_to @deployed_application.location.name, location_deployed_applications_url(@deployed_application.location) %>
        </h4>
        <div class="clear"></div>
      </hgroup>

      <%= render 'shared/application_body' %>

    </div>

    <div id="sidebar" class="span4">
      <div class="app-info">
        <h3>Info</h3>
        <h4><span class='icon'>Y</span> Get involved</h4>
        <p class='center'>
          <%= link_to 'Join the brigade to get involved!', join_brigade_url(@deployed_application.brigade, redirect_uri: deployed_application_path(@deployed_application)), class: 'btn btn-regular primary' if !can? :leave, @deployed_application.brigade%>
          <%= raw("You are a member of the brigade #{link_to @deployed_application.brigade.name, brigade_url(@deployed_application.brigade)} who is working on this applicaiton") if can? :leave, @deployed_application.brigade %>
        </p>

        <% if @deployed_application.brigade.point_of_contact_address.present? %>
          <h4><span class="icon">O</span> Connect</h4>
          <p><%= auto_link @deployed_application.brigade.point_of_contact_address %></p>
        <% end %>


        <h4><span class="icon">f</span> People <span id="user-name"></span></h4>
        <%= BrigadeDecorator.new(@deployed_application.brigade).decorated_members %>

        <h4><span class="icon">b</span> Share </h4>
        <p><a class='btn btn-mini' href="http://www.facebook.com/dialog/feed?app_id=<%= SOCIAL_NETWORKS['facebook_app_id']%>&redirect_uri=http://www.facebook.com&display=popup" id="fb-control">Share with facebook</a></p>
        <p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text='Check out this deployed application!' data-via="codeforamerica" data-size="small">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>
        <%= render 'deployed_applications/social_network_modal' %>

        <h4><span class="icon">,</span> Deployed in</h4>
        <!-- minimap -->
        <div class='map', id='map' style="width: 265px; height: 230px;"></div>
        <div class='hidden' id='locations'>[<%= @deployed_application.location.to_json %>]</div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAU73pt7g1lj1KfSffmFgWfKHcbn_xJQyE&sensor=true"></script>
<script tpye='text/javascript'>
  var map;


  function initialize_map() {
    var myOptions = {
      center: new google.maps.LatLng(39.5, -98.35),
      zoom: 2,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
  }


  initialize_map();

  var locations = $.parseJSON($('#locations').text())

  $.each(locations, function(index, value){
    latlong = new google.maps.LatLng(value.latitude, value.longitude);
    marker = new google.maps.Marker({ position: latlong, title: value.name });
    marker.setMap(map)
  })

  map.setCenter( latlong );
</script>
