<header class="page-id">

</header>

 <% @captains = User.find(:all, :conditions => ['name LIKE ?', '%organizing%'], :joins => [:skills]) %>



  <table class="all-cities" cellpadding="4" id="sortable">
    <tbody>
      <% @captains.each do |captain| %>
        <tr id="<%="user_#{captain.id}"%>" class="<%= cycle "odd", "even" %>">
          <td><%= UserDecorator.new(captain).gravatar_small %></td>
          <td><strong><%= captain.full_name %></strong></td>
          <td><%= captain.skill_list %></td>
          <td>
            <% if captain.location_name.blank? %>
              None listed.
            <% else %>
            <%= link_to captain.location_name, location_deployed_applications_url(captain.location) if captain.location.present?%>
            <% end %>
          </td>
          <td><%= link_to 'Show', captain%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

