<%= form_tag location_deployed_applications_path(@location), method: :get do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search' %>
<%end%>

<% if @deployed_applications.present? %>
  <h2>The following deploys exist in <%= @location.name %></h2>
  <table class='table-striped full'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Brigade Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'deployed_applications/deployed_application', collection: @deployed_applications %>
    </tbody>
  </table>
<%else%>
  <%= content_tag :h2, "There are no apps currently deployed" %>
<% end %>


<% if @applications_not_deployed.present? %>
  <br><br>
  <h2>Applications that have not yet been deployed in this location</h2>
  <table class='table-striped full'>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @applications_not_deployed %>
    </tbody>
  </table>
<%else%>
  <%= content_tag :h2, "All available apps are deployed in this location" %>
<% end %>
