<header class="page-id">
  <h1>
    <%= @location.name %>
  </h1>
</header>

<div class="internal-search-box">
  <%= form_tag location_deployed_applications_path(@location), method: :get do %>
    <%= text_field_tag :query, nil, placeholder: "Apps or Brigades in #{@location.name}" %>
    <%= submit_tag 'Search' %>
  <%end%>
</div>


<% if @deployed_applications.present? %>
  <h2>Join these Brigades to participate in what's already happening <%= @location.name %>:</h2>
  <table class="all-apps" cellpadding="4" id="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Location</th>
        <th>Brigade Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'deployed_applications/deployed_application', collection: @deployed_applications, locals: { brigade_name: true } %>
    </tbody>
  </table>
<%else%>
  <%= content_tag :h2, "There are no apps currently deployed" %>
<% end %>


<% if @applications_not_deployed.present? %>
  <br><br>
  <h2>Commit to deploying one of these apps not found in <%= @location.name %>:</h2>
  <table class="all-apps">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @applications_not_deployed %>
    </tbody>
  </table>
<%else%>
  <%= content_tag :h2, "All available apps are deployed in this location" %>
<% end %>
