<div class='form-wrapper span5 offset3'>

  <h2>Sign in</h2>

  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-vertical' } do |form| %>

    <%= form.input :email, input_html: {class: 'span5'} %>
    <%= form.input :password, input_html: {class: 'span5'} %>

    <%= form.submit 'Sign in', class: 'btn-large btn' %>

    <% if devise_mapping.rememberable? %>
      <%= form.label :remember_me, class: 'checkbox', id: 'remember_me_checkbox' do %>
        <%= form.check_box :remember_me %>
        Remember Me
      <%end%>
    <% end %>

    <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github), class: 'btn-large btn-info' %>
  <%end%>
</div>
