<div id="challenge-form">
  <%= form_for @challenge do |f| %>
    <h1>
      I challenge
      <%= f.select :location_id, (Location.all.map { |location| [location.name, location.id] } << ['Add Location', 'Add Location']), {}, class: 'location-selector' %>
      to
    </h1>
    <h1>
      <div class="wordbox">
        <%= f.text_field :purpose, placeholder: 'describe foo' %>.
      </div>
    </h1>
  </div>
    <div>
      <h2>Please provide additional details</h2>
      <%= f.text_field :organization_name, label: 'Organization (or Chapter) Name' %>
      <%= f.text_field :description, label: 'Challenge' %>
    <%= f.submit %>
  <% end %>
</div>

<%= render 'shared/location_modal' %>
