<header class="page-id">
  <h1>
    <% if @locations.any? %><%= @locations.count.to_s() %><%end%> Locations and counting
  </h1>

</header>

<% if @locations.empty? %>
  <h3> There aren't any locations that match that criteria! </h3>
<% else %>
  <table class="all-cities" cellpadding="4" id="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr id="<%="location_#{location.id}"%>" class="<%= cycle "odd", "even" %>">
          <td><%= location.name %></td>
          <td><%= link_to 'Show', location%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
