<!DOCTYPE html>
  <head>
    <title>CodeForAmerica</title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/flashes' %>
    <%= render partial: 'shared/navigation' %>
    <div class='container'>
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html
