!!!
%html
  %head
    %title CodeForAmerica
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if current_user
      = link_to 'Sign Out', sign_out_path
    - else
      = link_to 'Sign In', sign_in_path

    = render partial: 'layouts/flashes'
    = yield
