<!DOCTYPE html>
  <head>
    <title>The Code for America Brigade | <%= controller.controller_name.titleize %></title>
    <meta name="description" content="The Code for America Brigade connects passionate technologists in their communities to work together to deploy reusable civic apps.">
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20825280-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <%= render partial: 'layouts/flashes' %>
    <%= render partial: 'shared/navigation' %>

    <div class="content no-padding">
      <%= yield %>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
