<!DOCTYPE html>
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <title>The Code for America Brigade | <%= controller.controller_name.titleize %></title>
    <meta name="description" content="The Code for America Brigade connects passionate technologists in their communities to work together to deploy reusable civic apps.">
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= render partial: 'layouts/kiss_metrics' %>
    <%= render partial: 'layouts/google_analytics' %>
  </head>

  <body>
    <%= render partial: 'layouts/flashes' %>
    <%= render partial: 'shared/navigation' %>

    <div class="content no-padding">
      <%= yield %>
    </div>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'layouts/chartbeat' if Rails.env.production? %>
  </body>
</html>
