!!!
%html
  %head
    %title CodeForAmerica
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    = render partial: 'layouts/flashes'
    = yield
