<!DOCTYPE html>
<head>
  <title>CodeForAmerica</title>
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <section class="white">
    <div id="main">
      <%= yield %>
    </div>

    <div id="flipper-outer-shell">
      <section id="app-flipper">
        <div class="shell">

          <% AppDecorator.decorate(Application.all.take(9)).each do |application| %>
            <dl class="application-card">
              <dt class="icon">q</dt>
              <dt>
                <strong>
                  <%= application.name.truncate(20) %>
                </strong>
              </dt>
              <dd>
                <div class="location-count">
                  <span class="count"><%= application.deployed_applications.map(&:location).size %></span></br>
                  <span class="label">Locations</span>
                </div>
                <div class="commit-count">
                  <span class="count"><%= application.number_of_deploys %></span></br>
                  <span class="label">Deploys</span>
                </div>
              </dd>
              <dd class="deploy-button"><%= link_to 'Show App', application_path(application) %></dd>
            </dl>
          <% end %>
        </div>
      </section>
    </div>

  <section id="three-up">

    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

    <div class="clear"></div>

  </section>

  <%= render 'shared/footer' %>

</body>
</html>
