<!DOCTYPE html>
<head>
  <title>The Code for America Brigade</title>
  <meta name="description" content="The Code for America Brigade is an organizing force for civic-minded technologists who want to volunteer their skills in service to their local governments and communities.">
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/google_analytics' %>
  <%= favicon_link_tag %>
</head>
<body class="home">

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <section>
    <div id="main">
      <img alt="ray" src="/assets/people_and_sitb.png"/>
      <center>
        <h2>Anyone can Code for America, anywhere.</h2>
      </center>
      <div class="intake-form">
        <h2 class="span1">Join</h2>
        <%= simple_form_for @user, url: registration_path(@user), html: { class: 'form-vertical' } do |form| %>
          <% if @user.full_name.present? && !@user.errors[:full_name].any? %>
            <%= form.input :full_name, as: :hidden, input_html: {value: @user.full_name}  %>
          <% else %>
            <span class="span3 no-margin"><%= form.input :full_name, :label => false, :placeholder => 'Name' %></span>
          <% end %>
          <% if @user.email.present? && !@user.errors[:email].any? %>
            <%= form.input :email, as: :hidden, input_html: {value: @user.email} %>
          <% else %>
            <span class="span3 no-margin"><%= form.input :email, :label => false, :placeholder => 'Email' %></span>
          <% end %>
          <span class="span3 no-margin"><%= form.input :password, :label => false, :placeholder => 'Choose a password' if @user.password_required? %></span>
          <%= form.submit 'Sign up', class: 'submit btn btn-primary' %>
        <%end%>
      </div>
    </div>
    <section id="three-up">
      <div class="left-column">
        <h2>How it works:</h2>
        <table id="how">
          <tr>
            <td>
              <a title="" href="/pages/connect"><img alt="Connect with people" src="/assets/community.png"/></a>
            </td>
            <td>
             <a title="" href="/pages/connect">Connect with people</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/apps"><img alt="Deploy civic applications" src="/assets/source_code.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/apps">Deploy civic applications</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/activities"><img alt="Hack your city" src="/assets/city.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/activities">Hack your city</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/events"><img alt="Find events" src="/assets/calendar.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/events">Find events</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="center-column">
<iframe width="360" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211836600249959492431.0004cd3a8a295c254cbdd&amp;ie=UTF8&amp;t=m&amp;ll=41.244772,-114.609375&amp;spn=76.896984,105.46875&amp;z=2&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=211836600249959492431.0004cd3a8a295c254cbdd&amp;ie=UTF8&amp;t=m&amp;ll=41.244772,-114.609375&amp;spn=76.896984,105.46875&amp;z=2&amp;source=embed" style="color:#0000FF;text-align:left">Race for Reuse</a> in a larger map</small>
      </div>
      <div class="right-column">
        <h2>Get Involved Now:</h2>
        <table width="100%">
          <tr>
            <td align="center">
              <a href="/pages/codeacross"><img src="/assets/code_across/code_across_badge.png"/></a>
            </td>
          </tr>
        </table>
      </div>
    </section>

  <%= render 'shared/footer' %>

  <script type='text/javascript'>
    $(window).bind('unload', function(){})
  </script>
</body>
</html>
