<!DOCTYPE html>
<head>
  <title>The Code for America Brigade</title>
  <meta name="description" content="The Code for America Brigade is an organizing force for civic-minded technologists who contribute their skills in service to their local governments and communities.">
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/google_analytics' %>
  <%= favicon_link_tag %>
</head>
<body class="home">

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <section>
    <div id="main">
      <img alt="send in the brigade" src="/assets/people_and_sitb.png" width="40%"/>
      <center>
        <h2>Serve your community through civic tech</h2>
      </center>
      <div class="intake-form">
        <h2 class="span1">Join</h2>
         <%= simple_form_for @user, url: registration_path(@user), html: { class: 'form-vertical' } do |form| %>
            <% if @user.full_name.present? && !@user.errors[:full_name].any? %>
              <%= form.input :full_name, as: :hidden, input_html: {value: @user.full_name}  %>
            <% else %>
              <span class="span3 no-margin"><%= form.input :full_name, :label => false, :placeholder => 'Name' %></span>
            <% end %>
            <% if @user.email.present? && !@user.errors[:email].any? %>
              <%= form.input :email, as: :hidden, input_html: {value: @user.email} %>
            <% else %>
              <span class="span3 no-margin"><%= form.input :email, :label => false, :placeholder => 'Email' %></span>
            <% end %>
            <span class="span3 no-margin"><%= form.input :password, :label => false, :placeholder => 'Choose a password' if @user.password_required? %></span>
            <%= form.submit 'Sign up', class: 'submit btn btn-primary' %>
          <%end%>
      </div>
    </div>
    <section id="three-up">
      <div class="left-column">
        <h2>How it works:</h2>
        <table id="how">
          <tr>
            <td>
              <a title="" href="/pages/connect"><img alt="Connect with people" src="/assets/community.png"/></a>
            </td>
            <td>
             <a title="" href="/pages/connect">Connect with people</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/apps"><img alt="Deploy civic applications" src="/assets/source_code.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/apps">Deploy civic applications</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/activities"><img alt="Hack your city" src="/assets/city.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/activities">Hack your city</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/events"><img alt="Find events" src="/assets/calendar.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/events">Find events</a>
            </td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td align="center">
              <a href="/ndoch"><img src="http://hackforchange.org/profiles/opencivic/themes/hackathon/logo.png"/></a>
            </td>
          </tr>
        </table>
      </div>
      <div class="center-column">
        <h2>Get involved now:</h2>
        <a href="/civic-coding"><img style="width:80%" src="/assets/tgach-ndoch/badge.png"/></a>
      </div>
      <div class="right-column">
        <h2>What we're Tweeting:</h2>
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23cfabrigade" data-widget-id="324718596347543552">Tweets about "#cfabrigade"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>
    </section>

  <%= render 'shared/footer' %>

  <script type='text/javascript'>
    $(window).bind('unload', function(){})
  </script>
</body>
</html>