<!DOCTYPE html>
<head>
  <title>The Code for America Brigade</title>
	<meta name="description" content="The Code for America Brigade connects passionate technologists in their communities to work together to deploy reusable civic apps.">
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <section class="white">
    <div id="main">
      <%= yield %>
    </div>

	  <section id="three-up">

	    <div class="column">
				<img src="/assets/apps.png" class="home_three">
	      <p>Pick from a nearly of dozen fun, useful, and reusable civic apps and challenge your city to deploy them. (And we've even got instructions to make it easy.) <a href="/applications">Check them out.</a></p>
	    </div>
	    <div class="column">
				<img src="/assets/people.png" class="home_three">
	      <p>Recruit your friends and neighbors in your community to join the brigade, work together, and share skills (and pizza too) to get the app up and running. <a href="/brigades">Find a brigade.</a></p>
	    </div>
	    <div class="column">
				<img src="/assets/geo.png" class="home_three">
	      <p>Put your city on the map by deploying an app, and you'll be able to learn from and connect to the growing national network of civic leaders. <a href="/users">See who's in.</a></p>
	    </div>

	    <div class="clear"></div>

	  </section>

    <div id="flipper-outer-shell">
      <section id="app-flipper">
        <div class="shell">

          <% AppDecorator.decorate(Application.limit(9)).each do |application| %>
            <dl class="application-card">
              <dt class="icon"><%= application.logo %></dt>
              <dt>
                <strong>
                  <% if application.name %>
                    <%= application.name.truncate(20) %>
                  <% end %>
                </strong>
              </dt>
              <dd>
                <div class="location-count">
                  <span class="count"><%= application.deployed_applications.map(&:location).size %></span></br>
                  <span class="label">Locations</span>
                </div>
                <div class="commit-count">
                  <span class="count"><%= application.number_of_deploys %></span></br>
                  <span class="label">Deploys</span>
                </div>
              </dd>
              <dd class="deploy-button"><%= link_to 'Show App', application_path(application) %></dd>
            </dl>
          <% end %>
        </div>
      </section>

      <div class="complete-list-link">
        <span class="stars">*</span>
        <%= link_to "See the complete list.", applications_path, :class => "see-more" %>
        <span class="stars">*</span>
      </div>

    </div>

  <%= render 'shared/footer' %>

  <script type='text/javascript'>
    $(window).bind('unload', function(){})
  </script>
</body>
</html>
