<!DOCTYPE html>
<head>
  <title>CodeForAmerica</title>
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <section class="white">
    <div id="main">
      <%= yield %>
    </div>

    <div id="flipper-outer-shell">
      <section id="app-flipper">
        <div class="shell">

          <% AppDecorator.decorate(Application.limit(9)).each do |application| %>
            <dl class="application-card">
              <dt class="icon"><%= application.logo %></dt>
              <dt>
                <strong>
                  <% if application.name %>
                    <%= application.name.truncate(20) %>
                  <% end %>
                </strong>
              </dt>
              <dd>
                <div class="location-count">
                  <span class="count"><%= application.deployed_applications.map(&:location).size %></span></br>
                  <span class="label">Locations</span>
                </div>
                <div class="commit-count">
                  <span class="count"><%= application.number_of_deploys %></span></br>
                  <span class="label">Deploys</span>
                </div>
              </dd>
              <dd class="deploy-button"><%= link_to 'Show App', application_path(application) %></dd>
            </dl>
          <% end %>
        </div>
      </section>

      <div class="complete-list-link">
        <span class="stars">*</span>
        <%= link_to "See the complete list.", applications_path, :class => "see-more" %>
        <span class="stars">*</span>
      </div>

    </div>

  <section id="three-up">

    <div class="column">
      <p>The Code for America Brigade is an organizing force for civic minded developers, designers, data scientists, and leaders who will contribute their talents towards addressing the problems we see everyday.</p>
    </div>
    <div class="column">
      <p>This site is a platform for connecting people to projects to places. Use it to self organize around initiatives. Code for America’s Brigade Support Team has your back. Start a brigade or join one by deploying an app.</p>
    </div>
    <div class="column">
      <p>Brigade teams use events and local area networks to increase adoption and sustainability of open source civic technology. CfA develops corporate, government, and non-profit partnerships that create a pipeline of resources and opportunities for the nodes in the Brigade network. Together we will build the Civic Web.</p>
    </div>

    <div class="clear"></div>

  </section>

  <%= render 'shared/footer' %>

  <script type='text/javascript'>
    $(window).bind('unload', function(){})
  </script>
</body>
</html>
