<!DOCTYPE html>
<head>
  <title>The Code for America Brigade</title>
  <meta name="description" content="The Code for America Brigade connects passionate technologists in their communities to work together to deploy reusable civic apps.">
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/kiss_metrics' %>
  <%= render partial: 'layouts/google_analytics' %>
  <%= favicon_link_tag %>
</head>
<body>

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <section class="white">
    <div id="main">
        <img alt="ray" src="/assets/people_and_sitb.png"/>
        <br/>
        <center>
          <h2>Anyone can Code for America, anywhere.</h2>
        </center>
    </div>

    <section id="two-up">
      <div class="left-column">
        <h2>How it works:</h2>
        <table id="how">
          <tr>
            <td>
              <a title="" href="/pages/connect"><img alt="Connect with people" src="/assets/community.png"/></a>
            </td>
            <td>
             <a title="" href="/pages/connect">Connect with people</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/applications"><img alt="Deploy civic applications" src="/assets/source_code.png"/></a>
            </td>
            <td>
              <a title="" href="/applications">Deploy civic applications</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/activities"><img alt="Hack your city" src="/assets/city.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/activities">Hack your city</a>
            </td>
          </tr>
          <tr>
            <td>
              <a title="" href="/pages/events"><img alt="Find events" src="/assets/calendar.png"/></a>
            </td>
            <td>
              <a title="" href="/pages/events">Find events</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="right-column">
        <iframe width="680" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=200211073035932406378.00049db1b90fd8f3be01d&amp;ie=UTF8&amp;ll=37.402882,-50.765523&amp;spn=45.108447,214.106568&amp;t=h&amp;vpsrc=1&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=200211073035932406378.00049db1b90fd8f3be01d&amp;ie=UTF8&amp;ll=37.402882,-50.765523&amp;spn=45.108447,214.106568&amp;t=h&amp;vpsrc=1&amp;source=embed" style="color:#0000FF;text-align:left">CityCamp</a> in a larger map</small>
      </div>
    </section>

    <div class="complete-list-link">
      <span class="stars">*</span>
      <%= link_to "Featured Applications", applications_path, :class => "see-more" %>
      <span class="stars">*</span>
    </div>

    <div id="flipper-outer-shell">
      <section id="app-flipper">
        <div class="shell">

          <% AppDecorator.decorate(Application.limit(9)).each do |application| %>
            <dl class="application-card">
              <dt class="icon"><%= application.logo %></dt>
              <dt>
                <strong>
                  <% if application.name %>
                    <%= application.name.truncate(20) %>
                  <% end %>
                </strong>
              </dt>
              <!--<dd>
                <div class="location-count">
                  <span class="count"><%= application.deployed_applications.map(&:location).size %></span></br>
                  <span class="label">Locations</span>
                </div>
                <div class="commit-count">
                  <span class="count"><%= application.number_of_deploys %></span></br>
                  <span class="label">Deploys</span>
                </div>
              </dd>-->
              <dd class="deploy-button"><%= link_to 'Get Started', application_path(application) %></dd>
            </dl>
          <% end %>
        </div>
      </section>



    </div>

  <%= render 'shared/footer' %>

  <script type='text/javascript'>
    $(window).bind('unload', function(){})
  </script>
</body>
</html>
