<!DOCTYPE html>
<head>
  <title>CodeForAmerica</title>
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/navigation' %>

  <section class="white">
  <div id="main">
    <div class="content">
      <%= yield %>
    </div>
  </div>
  </section>

  <section id="app-spinner">
  <div class="content">
    <h2>Featured Applications</h2>

    <dl class='application-card'>
      <dt class="icon">q</dt>
      <dt><strong>Adopt-a-Hydrant</strong></dt>
      <dd class="image-icon"></dd>
      <dd>In 43 Cities</dd>
      <dd>85 Brigades</dd>
      <dd>2000 People</dd>
      <dd class="button xsmall">Deploy App</dd>
    </dl>

    <dl class='application-card'>
      <dt class="icon">P</dt>
      <dt><strong>Class Talk</strong></dt>
      <dd class="image-icon"></dd>
      <dd>In 43 Cities</dd>
      <dd>85 Brigades</dd>
      <dd>2000 People</dd>
      <dd class="button xsmall">Deploy App</dd>
    </dl>

    <dl class='application-card'>
      <dt class="icon">C</dt>
      <dt><strong>CityGroups</strong></dt>
      <dd class="image-icon"></dd>
      <dd>In 43 Cities</dd>
      <dd>85 Brigades</dd>
      <dd>2000 People</dd>
      <dd class="button xsmall">Deploy App</dd>
    </dl>

    <dl class='application-card'>
      <dt class="icon">W</dt>
      <dt><strong>Lunch Roulette</strong></dt>
      <dd class="image-icon"></dd>
      <dd>In 43 Cities</dd>
      <dd>85 Brigades</dd>
      <dd>2000 People</dd>
      <dd class="button xsmall">Deploy App</dd>
    </dl>

    <dl class='application-card'>
      <dt class="icon">W</dt>
      <dt><strong>DiscoverBPS</strong></dt>
      <dd class="image-icon"></dd>
      <dd>In 43 Cities</dd>
      <dd>85 Brigades</dd>
      <dd>2000 People</dd>
      <dd class="button xsmall">Deploy App</dd>
    </dl>

    <dl class='application-card'>
      <dt class="icon">q</dt>
      <dt><strong>Eventbrite</strong></dt>
      <dd class="image-icon"></dd>
      <dd>In 43 Cities</dd>
      <dd>85 Brigades</dd>
      <dd>2000 People</dd>
      <dd class="button xsmall">Deploy App</dd>
    </dl>

  </div>
  </section>

  <%= render partial: 'shared/footer' %>

</body>
</html>
