<!DOCTYPE html>
<head>
  <title>The Code for America Brigade</title>
  <meta name="description" content="The Code for America Brigade is an organizing force for civic-minded technologists who contribute their skills in service to their local governments and communities.">
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/google_analytics' %>
  <%= favicon_link_tag %>
</head>
<body class="home">

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <%= yield %>


  <%= render 'shared/footer' %>

  <script type='text/javascript'>
    $(window).bind('unload', function(){})
  </script>
</body>
</html>
