<!DOCTYPE html>
<head>
  <title>CodeForAmerica</title>
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/flashes' %>
  <%= render 'shared/navigation' %>

  <section class="white">
    <div id="main">
      <%= yield %>
    </div>
    <div id="flipper-outer-shell">
  <section id="app-flipper">
    <div class="shell">
      <dl class="application-card">
        <dt class="icon">q</dt>
        <dt>
          <strong>
            Adopt-a-Hydrant
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">i</dt>
        <dt>
          <strong>
            SnapFresh
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">e</dt>
        <dt>
          <strong>
            Look at Cook
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">I</dt>
        <dt>
          <strong>
            SweepAround.Us
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">_</dt>
        <dt>
          <strong>
            Open Data Catalog
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">_</dt>
        <dt>
          <strong>
            Open Data Kit
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">p</dt>
        <dt>
          <strong>
            Sheltr.org
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">s</dt>
        <dt>
          <strong>
            Building Finder
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>

      <dl class="application-card">
        <dt class="icon">(</dt>
        <dt>
          <strong>
            Shareabouts
          </strong>
        </dt>
        <dd>
          <div class="location-count">
            <span class="count">43</span>
            <span class="label">Locations</span>
          </div>
          <div class="commit-count">
            <span class="count">17</span>
            <span class="label">Commits</span>
          </div>
        </dd>
        <dd class="deploy-button">Deploy App</dd>
      </dl>
    </div>
  </section>
</div>
  </section>

  <section id="three-up">

    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

    <div class="clear"></div>

  </section>

  <%= render 'shared/footer' %>

</body>
</html>
